name: FastAPI + Flyway (With Approval)

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: production

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run Flyway migrations (Docker)
        env:
          DB_HOST: ${{ secrets.DB_HOST }}
          DB_NAME: ${{ secrets.DB_NAME }}
          DB_USER: ${{ secrets.DB_USER }}
          DB_PASSWORD: ${{ secrets.DB_PASSWORD }}
        run: |
          echo "DB_HOST=$DB_HOST"
          echo "DB_NAME=$DB_NAME"

          docker run --rm \
          -v "${{ github.workspace }}/flyway/sql:/flyway/sql" \
          flyway/flyway:11 \
          -url="jdbc:postgresql://${DB_HOST}:5432/${DB_NAME}" \
          -user="${DB_USER}" \
          -password="${DB_PASSWORD}" \
          migrate

      - name: Install Python dependencies
        run: pip install -r requirements.txt

      - name: Start FastAPI (sanity check)
        run: |
          uvicorn app.main:app --host 0.0.0.0 --port 8000 &
          sleep 5
