name: FastAPI + Flyway (With Approval)

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: production

    services:
      postgres:
        image: postgres:16
        env:
          POSTGRES_DB: flyway_test
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: Mysql@123
        ports:
          - 5432:5432
        options: >-
          --health-cmd "pg_isready -U postgres"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run Flyway migrations (Docker)
        run: |
          docker run --rm \
            --network host \
            -v "${{ github.workspace }}/flyway/sql:/flyway/sql" \
            flyway/flyway:11 \
            -url="jdbc:postgresql://localhost:5432/flyway_test" \
            -user="postgres" \
            -password="Mysql@123" \
            migrate


      - name: Install Python dependencies
        run: pip install -r requirements.txt

      - name: Start FastAPI (sanity check)
        run: |
          uvicorn app.main:app --host 0.0.0.0 --port 8000 &
          sleep 5
